In [2]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
import pandas as pd

In [14]:
#import data
news_df = pd.read_csv('newscleaned2.csv')

In [16]:
# Scoring news with sentiment analysis using nltk
sia = SIA()
results = []

for line in news_df['News_title']:
    pol_score = sia.polarity_scores(line)
    pol_score['News_title'] = line
    results.append(pol_score)

score2 = [item['compound'] for item in results]

In [19]:
#Combine Data
variables_df = pd.read_csv('df_combine.csv')
variables_df['News_score1'] = variables_df['sentiment']
variables_df['News_score2'] = score2
variables_df.head()

,Unnamed: 0,Unnamed: 0.1,Attributes,High,Low,Open,Close,Volume,Adj Close,Daily Growth,LabledY,HighMinusLow,CloseMinusOpen,sentiment,Date,News_score1,News_score2
0,0,2,2016-09-26,2158.540039,2145.040039,2158.540039,2146.100098,3216170000,2146.100098,-0.005763,-1.0,13.500000,-12.439941,0.9508,2016-09-26,0.9508,0.3612
1,1,3,2016-09-27,2161.129883,2141.550049,2146.040039,2159.929932,3437770000,2159.929932,0.006472,1.0,19.579834,13.889893,0.9881,2016-09-27,0.9881,-0.9761
2,2,4,2016-09-28,2172.399902,2151.790039,2161.850098,2171.370117,3891460000,2171.370117,0.004404,0.0,20.609863,9.520020,-0.9888,2016-09-28,-0.9888,-0.9806
3,3,5,2016-09-29,2172.669922,2145.199951,2168.899902,2151.129883,4249220000,2151.129883,-0.008193,-1.0,27.469971,-17.770020,0.9911,2016-09-29,0.9911,0.6249
4,4,6,2016-09-30,2175.300049,2156.510010,2156.510010,2168.270020,4173340000,2168.270020,0.005453,0.0,18.790039,11.760010,-0.8984,2016-09-30,-0.8984,-0.9623

In [20]:
variables_df = variables_df[['Attributes','High','Low','Open','Close','Volume','Adj Close','Daily Growth','LabledY','HighMinusLow','CloseMinusOpen','sentiment','News_score1','News_score2']]

In [25]:
variables_df.columns = ['Date','High','Low','Open','Close','Volume','Adj Close','Daily Growth','LabledY','HighMinusLow','CloseMinusOpen','sentiment','News_score1','News_score2']

In [26]:
variables_df.head()

,Date,High,Low,Open,Close,Volume,Adj Close,Daily Growth,LabledY,HighMinusLow,CloseMinusOpen,sentiment,News_score1,News_score2
0,2016-09-26,2158.540039,2145.040039,2158.540039,2146.100098,3216170000,2146.100098,-0.005763,-1.0,13.500000,-12.439941,0.9508,0.9508,0.3612
1,2016-09-27,2161.129883,2141.550049,2146.040039,2159.929932,3437770000,2159.929932,0.006472,1.0,19.579834,13.889893,0.9881,0.9881,-0.9761
2,2016-09-28,2172.399902,2151.790039,2161.850098,2171.370117,3891460000,2171.370117,0.004404,0.0,20.609863,9.520020,-0.9888,-0.9888,-0.9806
3,2016-09-29,2172.669922,2145.199951,2168.899902,2151.129883,4249220000,2151.129883,-0.008193,-1.0,27.469971,-17.770020,0.9911,0.9911,0.6249
4,2016-09-30,2175.300049,2156.510010,2156.510010,2168.270020,4173340000,2168.270020,0.005453,0.0,18.790039,11.760010,-0.8984,-0.8984,-0.9623